::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}

header > .jumbotron {
	background: url('../img/maintenance/bg-header.jpg') no-repeat center center;
	margin-bottom: 0;
	position: relative;
	z-index: 10;
	-webkit-background-size: cover;
		-moz-background-size: cover;
			background-size: cover;
}
header > .jumbotron h1 {
	color: #FFFFFF;
	text-shadow: 5px 3px 0 rgba(0, 0, 0, 0.15);
}
header > .jumbotron p {
	color: rgba(255, 255, 255, 0.95);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}
header > .jumbotron .btn {
	opacity: 0.9;
	border-color: transparent;
	border-radius: 1px;
}

#progress-bar {
	margin-top: -10px;
	position: relative;
	z-index: 20;
}
#progress-bar > .progress {
	background-color: rgba(0, 0, 0, 0.5);
	height: 10px;
	border-radius: 0;
	margin-bottom: 0;
}
#progress-bar > .progress-info {
	color: #fff;
	background: url('../img/maintenance/percent-progress.png') no-repeat center top;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	height: 52px;
	width: 47px;
	margin-top: -65px;
	padding-top: 16px;
	position: relative;
	z-index: 25;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

footer {
	margin-top: 10px;
	padding: 30px 0;
}
footer .social a,
footer .developer a {
	opacity: 0.85;
	color: #D9534F;
	-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
			transition: all 0.5s ease;
}
footer .social a:hover,
footer .developer a:hover {
	opacity: 1;
}
footer .developer a img {
	width: 50px;
	height: 50px;
} 
footer .developer a:hover img {
	box-shadow: 0 0 0 6px #b3d4fc;
}

.github-fork {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	z-index: 25
}